.desktop1-desktop1 {
  width: 100%;
  height: 5244px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 113px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 37px;
  left: 49px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-barradiricerca1 {
  top: 26px;
  left: 775px;
  width: 638px;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text02 {
  top: 38px;
  left: 833px;
  color: rgba(0, 0, 0, 1);
  width: 322px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-tuttecolazioni1 {
  top: 162px;
  left: 95px;
  width: 1249px;
  height: 714px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text04 {
  top: 910px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 1247px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-image234611 {
  top: 3640px;
  left: 451px;
  width: 539px;
  height: 539px;
  position: absolute;
  border-color: transparent;
}
.desktop1-kielbasa1 {
  top: 1748px;
  left: 21px;
  width: 640px;
  height: 540px;
  position: absolute;
  border-color: transparent;
}
.desktop1-polonia1a1 {
  top: 1812px;
  left: 785px;
  width: 631px;
  height: 412px;
  position: absolute;
  border-color: transparent;
}
.desktop1-image243351 {
  top: 2433px;
  left: 502px;
  width: 482px;
  height: 493px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text06 {
  top: 2597px;
  left: 676px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-colazioneallitaliana1 {
  top: 3059px;
  left: 21px;
  width: 655px;
  height: 398px;
  position: absolute;
  border-color: transparent;
}
.desktop1-ita1 {
  top: 3059px;
  left: 743px;
  width: 643px;
  height: 407px;
  position: absolute;
  border-color: transparent;
}
.desktop1-image239501 {
  top: 1121px;
  left: 465px;
  width: 508px;
  height: 468px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text08 {
  top: 1306px;
  left: 643px;
  color: rgba(255, 255, 255, 1);
  width: 361px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text10 {
  top: 3939px;
  left: 595px;
  color: rgba(255, 255, 255, 1);
  width: 369px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-image1111 {
  top: 4277px;
  left: 20px;
  width: 645px;
  height: 431px;
  position: absolute;
  border-color: transparent;
}
.desktop1-caffespresso1 {
  top: 4277px;
  left: 783px;
  width: 602px;
  height: 431px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle2 {
  top: 5037px;
  left: 0px;
  width: 1440px;
  height: 207px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text12 {
  top: 5107px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 525px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-tiktok1 {
  top: 5078px;
  left: 535px;
  width: 130px;
  height: 126px;
  position: absolute;
  border-color: transparent;
}
.desktop1-instagram-logosu1 {
  top: 5073px;
  left: 720px;
  width: 148px;
  height: 135px;
  position: absolute;
  border-color: transparent;
}
.desktop1-iconafb1 {
  top: 5082px;
  left: 923px;
  width: 176px;
  height: 122px;
  position: absolute;
  border-color: transparent;
}
